.room-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-item {
  width: 100%;
}

video {
  width: 100%;
  border-radius: 8px;
}