<section class="conference-container">

  <app-preview></app-preview>

  <section class="participants">
    <div *ngFor="let participant of remoteParticipants$ | async; trackBy: trackBySocketId" class="participant-item">
      <app-video
        *ngIf="participant.username !== this.username"
        [stream]="participant.stream"
        [username]="participant.username"
        [isLoading]="!participant.stream"
        [participantActive]="participant.active"
        [isScreenSharing]="participant.isScreenSharing"
        [muted]="!participant.isMicEnabled"
        [isSpeaking]="participant.isSpeaking"
        [quality]="(connectionQuality$(participant) | async)?.quality || 'medium'">
      </app-video>
    </div>
  </section>
  
  <div *ngIf="!(remoteParticipants$ | async)?.length" class="no-participants">
    <p>No other participants in the room</p>
  </div>

  <app-chat></app-chat>

  <button class="leave-room-button" (click)="leaveRoom()">Leave room</button>
</section>
